<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamred.checkmate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Checkmate.NoActionBar">
        <activity
            android:name=".MyGroupsActivity"
            android:label="My groups"
            android:exported="false" />
        <activity
            android:name=".OnboardingActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.group.CreateGroupActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main">
                        <intent-filter>
                            <action android:name="android.intent.action.MAIN" />

                            <category android:name="android.intent.category.LAUNCHER" />
                        </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".ui.calendar.CalendarActivity"
            android:exported="true"
            android:label="@string/title_calendar_login"
            android:theme="@style/Theme.Checkmate.NoActionBar" />
<!--        <activity-->
<!--            android:name=".ui.notifications.NotificationsFragment"-->
<!--            android:exported="true"-->
<!--            android:label="@string/title_calendar_login"-->
<!--            android:theme="@style/Theme.Checkmate.NoActionBar" />-->
        <activity
            android:name=".ui.login.AfterRegisterActivity"
            android:exported="true"
            android:label="@string/title_activity_after_register" />

        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:exported="true"
            android:label="@string/title_activity_login" />

        <receiver android:name=".services.NoteReviewReceiver"/>
        <activity
            android:name="com.microsoft.identity.client.BrowserTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!--
                    Add in your scheme/host from registered redirect URI
                    note that the leading "/" is required for android:path
                -->
                <data
                    android:host="com.teamred.checkmate"
                    android:path="/LCkbsYnopCRV1xaxrWgKm1OU4Qg="
                    android:scheme="msauth" />
            </intent-filter>
        </activity>
    </application>

</manifest>