<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamred.checkmate">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Checkmate.NoActionBar">
        <activity
            android:name=".OnboardingActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.group.CreateGroupActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".ui.calendar.CalendarActivity"
            android:exported="true"
            android:theme="@style/Theme.Checkmate.NoActionBar"
            android:label="@string/title_calendar_login" />
<!--        <activity-->
<!--            android:name=".ui.notifications.NotificationsFragment"-->
<!--            android:exported="true"-->
<!--            android:theme="@style/Theme.Checkmate.NoActionBar"-->
<!--            android:label="@string/title_calendar_login" />-->
        <!--Intent filter to capture System Browser or Authenticator calling back to our app after sign-in-->
        <activity
            android:name="com.microsoft.identity.client.BrowserTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="msauth"
                    android:host="com.teamred.checkmate"
                    android:path="/M61nf+aC69kCXmFY1ejcX83rDNc=" />
            </intent-filter>
        </activity>
    </application>
</manifest>